POSTGRES_USER=<DB USER>
POSTGRES_PASSWORD=<DB PASSWORD> 
POSTGRES_DB=<DB NAME> 
POSTGRES_PORT=5432
POSTGRES_IP = <DB IP>
GEMINI_API_KEY=<YOUR GEMINI API KEY>
SECRET_KEY=<run the command "openssl rand -hex 32" to generate a SECRET_KEY>
JWT_ALGORITHM=<YOUR JWT ALGORITHM>
ACCESS_TOKEN_EXPIRE_MINUTES=<HOW MUCH YOU WANT THE TOKEN TO LONG>