POSTGRES_USER=<DB USER>
POSTGRES_PASSWORD=<DB PASSWORD> 
POSTGRES_DB=<DB NAME> 
POSTGRES_PORT=5432
POSTGRES_IP = <DB IP>
DATABASE_URL=postgresql+psycopg://shogi_sensei:shogi@database:5432/shogi_sensei
GEMINI_API_KEY=<YOUR GEMINI API KEY>